<!DOCTYPE html>
<html ng-app="lyricsApp">
  <head>
    <title><%= title %></title>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="javascripts/controllers.js"></script>
  </head>
  <body ng-controller="lyricsCtrl">
    <ul ng-repeat="a in applicants">
      <li ng-repeat>
        {{1+2}}
      </li>
    </ul>
  </body>
</html>
